html, body, div, span, applet, object, iframe, h1, p, pre, a, 
abbr, acronym, address, big, cite, code, del, dfn, em, img, 
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, 
var, b, u, i, center, dl, dt, dd, li, fieldset, form, label, 
legend, table, tbody, tfoot, thead, tr, th, td, aside, 
canvas, details, figure, footer, header, hgroup, menu, nav,

/*IMPORTANT Changes booking tabbar*/
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/*Change size, position at front page*/
details, figcaption, figure, header, hgroup, menu, nav, section {
    display: block
}

html, body {
    margin: 0;
    word-break: break-word;
    height: 100%
}

img {
    max-width: 100%;
    border: 0
}

/* overvej */
.section {
    display: inline;
    float: left;
    width: 100%
}

html {
    overflow-y: scroll
}

body {
    font-family: "Helvetica", sans-serif;
    font-size: 12px; /*should consider to change it to 16pt which is the standard*/
    line-height: 1;
    color: #354450;
    background: #FCFCFD;
    /*background: #fff /*Set background color for whole web*/
   /*background: #e3e8ec*/
}

h1, .h1 {
    font-family: "DIN Next W01 Bold", "Helvetica", sans-serif;
    letter-spacing: 2px;
    color: #211a52;
    font-size: 30px;
    position: relative;
    left: 45px;
    top: 45px;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: 1px;
    font-weight: normal
}

.color .h1 {
    color: #fff !important
}

p {
    margin: 0 0 1em 0;
    font-weight: normal
}


.color .fade:after {
    background: -moz-linear-gradient(top, rgba(33, 26, 82, 0) 72%, rgba(33, 26, 82, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(72%, rgba(33, 26, 82, 0)), color-stop(100%, rgba(33, 26, 82, 1)));
    background: -webkit-linear-gradient(top, rgba(33, 26, 82, 0) 72%, rgba(33, 26, 82, 1) 100%);
    background: -o-linear-gradient(top, rgba(33, 26, 82, 0) 72%, rgba(33, 26, 82, 1) 100%);
    background: -ms-linear-gradient(top, rgba(33, 26, 82, 0) 72%, rgba(33, 26, 82, 1) 100%);
    background: linear-gradient(top, rgba(33, 26, 82, 0) 72%, rgba(33, 26, 82, 1) 100%)
}

/* Overvej fancybox til billede at kort */

/*.navigationTitle {
    font-family: "DIN Next W01 Bold", "Helvetica", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 9px;
    color: #a2acb6
}*/

header {
    display: flex; /*flex align logo and navbar*/
    align-items: center;
    background-color: #e3e8ec;
    /*background-color: #fff;*/
    size: 100;
    border-bottom: 1px solid grey; 

    
  }
  
/* styling af navigation bar*/
.logo {
    vertical-align: top;
    width: 90px;
    height: 50px;
    float: center;
    margin: 10px 15px 
}
.navbar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;/
    
}


.navbar li {
    float: left; /* Float links side by side */
    align-items: center;
}

.navbar li a {
    /* styling af links i navigation bar */
    display: block;
    float: center;
    color: #211a52;
    font-family: "DIN Next W01 Bold", "Helvetica", sans-serif;
    text-transform: uppercase;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
}

.navbar li a::after {

    content: "";  /* styling af border på navigation bar */
    /* Tilføjer border til hvert element */
    position: absolute;
    right: 0;
    top: 25%;
    bottom: 25%;
    border-right: 2px solid black;
    height: 50%;

}

.navbar li:last-child a::after {
    border-right: none; /* Fjerner border på sidste element */
}

.navbar li a:hover {
    background-color: #ab9e9e;
}

.BookButton {
    background-color: #0476aa;
    border: 2px solid black;
    color: rgb(0, 0, 0);
    padding: 15px 32px; /* Gør at knappen er 15px fra toppen og bunden og 32px fra venstre og højre side */
    text-align: center; /* Gør at teksten er centreret */
    text-decoration: none; /* Fjerner understregning på teksten */
    display: inline-block; /* Gør at knappen er på samme linje som som det stående ved siden af (Skal måske fjernes) */
    font-size: 16px; /* Gør at teksten er 16px stor */
    font-weight: bold; /* Gør at teksten er bold */
    transition-duration: 0.4s; /* Gør bare at der er en delay på når man hover med musen over knappen*/
    width: 350px; /* Gør at knappen er 350px bred */
    height: 100px; /* Gør at knappen er 100px høj */
    position: absolute; /* ikke helt sikker, men den gør at positionen er relativ til den omkringliggende tekst */
    top: 250px; /* Gør at knappen er 250px fra toppen af siden */
    left: 800px; /* Gør at knappen er 800px fra venstre side af siden */
}



/* end of styling of the booking button on the booking page */
.tab {
    overflow: hidden;
    /*background-color: #e3e8ec; The background behind the tabs - not sure that we need it though*/ 
   /* background-color: #fff;*/
    width: 50%;
    position: relative;
    top: 205px;
}

.tab button {
    font-weight: bold;
    background-color: #fff; /*color of the tab labels*/
    border: 2px solid black;
    border-radius: none;
    padding: 14px 16px;
    transition: 0.3s;
    position: relative;
    left: 45px; /*align tabs and table*/
}

.tab button:hover {
    background-color: #aeabc5;
}

.tab button:disabled {
    background-color: #ab9e9e;
}

.tab button.active {
    border-bottom: none;
    background-color: #e2e2e9;
    /*background-color: #211a52;*/
    /*color: white;*/
    height: 45px;
}

/*Style of the content(table) in the tabs*/
.tabcontent {
    /*Makes the content hidden when no day is selected*/
    display: none;
    padding-bottom: 40px;
    width: 35%;
    position: absolute;
    left: 45px;
    top: 315px; /*Change position of the table*/
    
}

/*Table is affecting the booking table*/
table {
    border-collapse: collapse; /*merge the table rows*/
    box-shadow: 0 5px  8px #aeabc5; /*set shadow if needed*/
    width: 100%; /*define legth on table*/
}
thead {
   padding: 30px; 
   background-color: #aeabc5;
   /*background-color: #211a52;*/
}
td {
    
    /*border: 1px solid black;*/
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

th {
    height: 48px;
    background-color: #e2e2e9;
    /*background-color: #211a52;*/
    font-size: medium;
    font-weight: bold;
    color: #211a52;
    padding-top: 20px;
}

td {
    /*border-top: 1px solid #aeabc5;*/
    height: 30px;
    padding: 5pt;
}

/*Targets the width of the first and second column in the table*/
td:nth-child(1) {
    width: 40%;
}

th:nth-child(1) {
    width: 40%;
}

td:nth-child(2) {
    width: 70%;
}

th:nth-child(2) {
    width: 70%;
}

tr:nth-child(odd) { /*define every other row in the datatable*/
    background-color: #eee;
}


/* Style the buttons that are used to open and close the accordion panel - w3 */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    position: relative;
    top: 75px;
    left: 45px;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}
  
/* Style the accordion panel. Note that this is hidden by default - w3*/
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    width: 50%;
    position: relative;
    top: 75px;
    left: 45px;
}

/* Makes the width of the .accordion and .panel elements align - copilot */
.accordion, .panel {
    box-sizing: border-box;
}

/* Display a status of the rooms availability with a colored circle - copilot */
.accordion-status-indicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 18%; 
    transform: translateY(-50%);
}

/* Add a symbol + or - to indicate whether a panel is open or closed - w3 */
.accordion:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) from https://www.toptal.com/designers/htmlarrows/math/plus-sign/ */
    font-size: 13px;
    color: #7c7b7b;
    float: right;
    margin-left: 5px;
}
#Textindicator {
    position: absolute;
    top: 50%;
    left: 22%;
    transform: translateY(-50%);
}


.active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) from https://www.toptal.com/designers/htmlarrows/math/minus-sign/*/
}

/* Container for the map image on home page */
.container {
    position: absolute; /* Position the container absolutely */
    right: 40px; /* Align the container to the right */
    top: 40%; /* Position the container in the middle vertically */
    transform: translateY(-50%); /* Move the container up by half its height */
    width: 40%; /* Set the width of the container */
    text-align: right; /* Align the text to the right */
    border: 15px solid rgb(220, 220, 220); /* Add a 2px solid black border */
    border-radius: 15px; /* Round the edges of the border */
}

.container img {
    /*Image zoom styles*/
    /* Style for the container holding the image */
    margin: 0; /* Remove the margin */
    cursor: zoom-in;
    transition: transform 1s ease; /* Set transition of zoom in to 1 sec */
    width: 100%; /* Set the width of the image to 100% of the container */
}

#zoom_img { /* removing the checkbox at the image container*/
    display: none;
}

input[type=checkbox]:checked~label>img {
    transform: scale(1.5);
    cursor: zoom-out;
}

input[type=checkbox]:disabled {
    display: none;
}

.reserved-label {
    display: none;
}

input[type=checkbox]:disabled + .reserved-label {
    display: inline;
}


/* This CSS part relate to the contactpage*/
.contactTxt {
    position: relative; /*make sure that the children don't get lost from their mom*/
    background-color: #e2e2e9;
    max-width: 50%; /* width on the container. % gør at den er fleksibel og følger str på siden*/
    padding: 100px 100px;
    margin: 0 auto; /* indikerer at containeren er i center*/
    text-align: left;
    text-justify: center;
    top: 40px; /*create space between navbar and container*/
}

/*This is the father of contactTxt and it defines the font of every child element*/
.contactTxt p {
    text-align: left;
    text-justify: center;
    font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; /*AAU type for content*/
    text-align: left;
    letter-spacing: inherit;
}

/*Contact title*/
 /*This layout is responsible, meaning that it follow the page size*/
 .contactTxt p:first-child  {  
    position: absolute; 
    z-index: 5; /* Set the child element to go out from their parent*/
    top: 10%; /*placerer information i toppen af boksen*/
    left: -25px; /*placerer informationtext i venstre side*/
    font-size: 30px;
    font-family: "DIN Next W01 Bold", "Helvetica", sans-serif; 
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
    color: #211a52 ; /*AAU Blue*/
}

/* child of library header */
.contactTxt p:nth-child(5) {
    color: #4406e0;
    font-weight: bold;
    text-transform: uppercase;
}

/* Technical support header*/
.contactTxt p:nth-child(7){
    color: #4406e0; /*rgb blue*/
    font-weight: bold; 
    text-transform: uppercase; 
}

/* This CSS part relate to the information page*/
.Infotxt {
    /* Parent/Mother of information text */
        position: relative; /*make sure that the children don't get lost from their mom*/
        background-color: #e2e2e9;
        max-width: 50%; /* width on the container. % gør at den er fleksibel og følger str på siden*/
        padding: 100px 100px;
        margin: 0 auto; /* indikerer at containeren er i center*/
        top: 40px; /*create space between navbar and container*/
    }
    
    
     /*Information title*/
     /*This layout is responsible, meaning that it follow the page size*/
    .Infotxt p:first-child  {  
        position: absolute; 
        z-index: 5; /* Set the child element to go out from their parent*/
        top: 10%; /*placerer information i toppen af boksen*/
        left: -25px; /*placerer informationtext i venstre side*/
        font-size: 30px;
        font-family: "DIN Next W01 Bold", "Helvetica", sans-serif; /*This is the font they use in aau*/
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 900;
        color: #211a52 ; /*AAU Blue*/
    }
    
     /*main text in information about grouproom*/
    .Infotxt p:nth-child(2) {
        font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-align: left;
    }

    .BookButton:hover {
        /* hover effekt på knappen */
        background-color: #ab9e9e;
        color: white; /*Book text*/
    }
    
    .BookButton:disabled {
        /* hvordan knappen ser ud når den er disabled */
        background-color: #cccccc;
        color: #666666; /*Book Text*/
    }
    
    /* style the cancel form*/
    #cancelBookingForm { /* # is used when you want to style a ID*/
        position: absolute;
        top: 500px;
        left: 800px;
    }
    
    /* Styling for the check-in and check-out buttons */
    .checkInOutButton {
        background-color: #154e74; /* Blue color */
        color: #fff; /* White text color */
        padding: 10px 15px; /* Padding for the button */
        border: none; /* No border */
        border-radius: 5px; /* Rounded corners */
        cursor: pointer; /* Cursor style on hover */
    
    }
    
    .checkInOutButton:hover {
        background-color: #636567; /* Dark blue color */
    }
    #checkInButton {
        position: relative;
        top: 420px;
        left: 800px;
    }
    #checkOutButton {
        position: relative;
        top: 420px;
        left: 825px;
    }
    
    .bookingInfo {
        display: inline-block;
        width: 350px;
        position: absolute;
        top: 355px;
        left: 800px;
    }

    /*Calendar*/

.DaysOfWeek{
    text-align: center;
    margin: 20px;
    display: flex; 
    justify-content: space-around;
    text-align: center;
}

/*Calendar function*/ /*taken from chat GPT*/
#calendarContainer{
    text-align: center;
    margin: 20px;
    
}

/*make it possible to align the day of weeks*/
.days-container{
    display: flex; 
    justify-content: space-around;
    text-align: center;
}

/*Style the day box in the calendar*/
.day {
    display: inline-block;
    width: 100px;
    padding: 10px;
    margin: 5px;
    border: 0.5px solid #eee;
    } 

    /*Style the current day container*/
    .current-day {
        font-weight: Bold; /*Test to check if the calendar now the current day*/
        border: 1px solid #000; /*Same test*/
    }