html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, li, fieldset,
form, label, legend, tab, table, tbody, tfoot, thead, tr,
th, td, aside, canvas, details, figure, footer, header,
hgroup, menu, nav,

section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

html,
body {
    margin: 0;
    word-break: break-word;
    height: 100%
}

img {
    max-width: 100%;
    border: 0
}

/* overvej */
.section {
    display: inline;
    float: left;
    width: 100%
}

#main {
    padding-bottom: 100px
}

html {
    overflow-y: scroll
}

#top {
    margin: 15px 0
}

body {
    font-family: "Helvetica", sans-serif;
    font-size: 12px;
    line-height: 140%;
    color: #354450;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: 1px;
    font-weight: normal
}

h1,
.h1,
h2,
.h2 {
    font-family: "DIN Next W01 Bold", "Helvetica", sans-serif;
    letter-spacing: 2px
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    color: #211a52
}

.color .h1,
.color .h2,
.color .h3 {
    color: #fff !important
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "DIN Next W01 Regular", "Helvetica", sans-serif
}

h1,
.h1 {
    font-size: 30px;
    position: relative;
    left: 45px;
    top: 45px;
}

h2,
.h2 {
    font-size: 14px;
    margin-bottom: 13px
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-size: 12px;
    margin-bottom: 12px
}

p {
    margin: 0 0 1em 0;
    font-weight: normal
}

.navigationTitle {
    font-family: "DIN Next W01 Bold", "Helvetica", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 9px;
    color: #a2acb6
}

.circle {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin: 18px auto;
    overflow: hidden;
    text-align: center;
    background-color: white;
    color: #211a52
}

.smallButton {
    background: 0;
    border: 0;
    cursor: pointer;
    display: block;
    text-align: center;
    letter-spacing: .18333333333em;
    line-height: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    font-family: "DIN Next W01 Regular", "Helvetica", sans-serif;
    text-transform: uppercase;
    margin: 6px auto 0;
    clear: both
}

.smallButton:after {
    text-transform: none;
    font-family: "aauother";
    font-size: 35px;
    display: block;
    text-align: center;
    line-height: 100%;
    margin: 6px auto 0;
    content: 'y'
}

body {
    background: #e3e8ec
}

.columned a:hover,
.twoColumned a:hover {
    color: #4306dd
}

.color {
    background-color: #211a52;
    color: white
}

.color a,
.color h1,
.color h2,
.color h3,
.color .leadin {
    color: inherit
}

.color a:hover {
    color: #aeabc5
}

.muted {
    color: #999
}

.smallButton:after,
.smallButton,
.pagination a {
    color: #211a52
}

.smallButton:hover,
.smallButton:hover:after,
.pagination a:hover {
    color: #4306dd
}

.color .smallButton:hover,
.color .smallButton:hover:after,
.color .pagination a:hover {
    color: #aeabc5
}

.color .smallButton,
.color .smallButton:after,
.color .pagination a {
    color: white
}

.color .fade:after {
    background: -moz-linear-gradient(top, rgba(33, 26, 82, 0) 72%, rgba(33, 26, 82, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(72%, rgba(33, 26, 82, 0)), color-stop(100%, rgba(33, 26, 82, 1)));
    background: -webkit-linear-gradient(top, rgba(33, 26, 82, 0) 72%, rgba(33, 26, 82, 1) 100%);
    background: -o-linear-gradient(top, rgba(33, 26, 82, 0) 72%, rgba(33, 26, 82, 1) 100%);
    background: -ms-linear-gradient(top, rgba(33, 26, 82, 0) 72%, rgba(33, 26, 82, 1) 100%);
    background: linear-gradient(top, rgba(33, 26, 82, 0) 72%, rgba(33, 26, 82, 1) 100%)
}

/* Overvej fancybox til billede at kort */
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: top
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.fancybox-opened {
    z-index: 8030
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5)
}

.fancybox-outer,
.fancybox-inner {
    position: relative
}

.fancybox-inner {
    overflow: hidden
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch
}

.fancybox-image,
.fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%
}

#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
    background-image: url('fancybox_sprite.png')
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: .8;
    cursor: pointer;
    z-index: 8060
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('fancybox_loading.gif') center center no-repeat
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('fancybox_overlay.png')
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll
}

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050
}

.fancybox-opened .fancybox-title {
    visibility: visible
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff
}

.fancybox-title-inside-wrap {
    padding-top: 10px
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio:1.5),
only screen and (min-device-pixel-ratio:1.5) {

    #fancybox-loading,
    .fancybox-close,
    .fancybox-prev span,
    .fancybox-next span {
        background-image: url('fancybox_sprite@2x.png');
        background-size: 44px 152px
    }

    #fancybox-loading div {
        background-image: url('fancybox_loading@2x.gif');
        background-size: 24px 24px
    }
}

/* Overvej til oversigt */
.flex-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.flex-section .box {
    margin: 0 0 6px 6px;
    padding: 20px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%
}

.flex-section .spotCon .section {
    height: 100%;
    margin: 0 0 6px 0
}

.column1-1.flex-section {
    width: 100%
}

.flex-section .spotCon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column
}

.flex-section .g8 {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 66.6666666666666667%;
    flex: 1 0 66.6666666666666667%
}

.flex-section .g4 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.3333333333333333%;
    flex: 1 1 33.3333333333333333%
}

.flex-section .spotCon {
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto
}

.flex-section .article {
    height: 100%;
    margin-bottom: 6px
}

.flex-section .handbook .article {
    height: auto
}

.flex-section .handbookAddons {
    height: auto
}

.flex-section .box {
    height: 100%
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
    .flex-section .box {
        height: auto !important
    }
}

/* styling af navigation bar*/
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;/
}

.navbar li {
    float: left;
    /* Float links side by side */
}

.navbar li a {
    /* styling af links i navigation bar */
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
}

.navbar li a::after {
    /* styling af border på navigation bar */
    content: "";
    /* Tilføjer border til hvert element */
    position: absolute;
    right: 0;
    top: 25%;
    bottom: 25%;
    border-right: 2px solid black;
    height: 50%;

}

.navbar li:last-child a::after {
    border-right: none;
    /* Fjerner border på sidste element */
}

.navbar li a:hover {
    background-color: #ab9e9e;
}

.BookButton {
    background-color: #0476aa;
    border: 2px solid black;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    /* Gør at knappen er 15px fra toppen og bunden og 32px fra venstre og højre side */
    text-align: center;
    /* Gør at teksten er centreret */
    text-decoration: none;
    /* Fjerner understregning på teksten */
    display: inline-block;
    /* Gør at knappen er på samme linje som som det stående ved siden af (Skal måske fjernes) */
    font-size: 16px;
    /* Gør at teksten er 16px stor */
    font-weight: bold;
    /* Gør at teksten er bold */
    transition-duration: 0.4s;
    /* Gør bare at der er en delay på når man hover med musen over knappen*/
    width: 350px;
    /* Gør at knappen er 350px bred */
    height: 100px;
    /* Gør at knappen er 100px høj */
    position: relative;
    /* ikke helt sikker, men den gør at positionen er relativ til den omkringliggende tekst */
    top: 250px;
    /* Gør at knappen er 250px fra toppen af siden */
    left: 800px;
    /* Gør at knappen er 800px fra venstre side af siden */
}

.BookButton:hover {
    /* hover effekt på knappen */
    background-color: #ab9e9e;
    color: white;
}

.BookButton:disabled {
    /* hvordan knappen ser ud når den er disabled */
    background-color: #cccccc;
    color: #666666;
}

/* end of styling of the booking button on the booking page */
.tab {
    overflow: hidden;
    background-color: #e3e8ec;
    width: 50%;
    position: relative;
    top: 100px;
}

.tab button {
    background-color: #ab9e9e;
    border: 1px solid black;
    border-radius: 4px;
    padding: 14px 16px;
    transition: 0.3s;
    position: relative;
    left: 50px;
}

.tab button:hover {
    background-color: #aeabc5;
}

.tab button.active {
    border-bottom: none;
    background-color: #211a52;
    color: white;
    height: 45px;
}

/*Style of the content(table) in the tabs*/
.tabcontent {
    /*Makes the content hidden when no day is selected*/
    display: none;
    padding-bottom: 40px;
    width: 35%;
    position: absolute;
    left: 45px;
    top: 315px;
}

table,
th,
td {
    border: 1px solid black;
    border-top: none;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

th {
    height: 50px;
    background-color: #211a52;
    font-size: medium;
    font-weight: bold;
    color: white;
}

td {
    height: 30px;
}

/*Targets the width of the first and second column in the table*/
td:nth-child(1) {
    width: 40%;
}

th:nth-child(1) {
    width: 40%;
}

td:nth-child(2) {
    width: 70%;
}

th:nth-child(2) {
    width: 70%;
}

/* Style the buttons that are used to open and close the accordion panel - w3 */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    position: relative;
    top: 75px;
    left: 45px;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}
  
/* Style the accordion panel. Note that this is hidden by default - w3*/
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    width: 50%;
    position: relative;
    top: 75px;
    left: 45px;
}

/* Makes the width of the .accordion and .panel elements align - copilot */
.accordion, .panel {
    box-sizing: border-box;
}

/* Display a status of the rooms availability with a colored circle - copilot */
.accordion-status-indicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 18%; 
    transform: translateY(-50%);
}

/* Add a symbol + or - to indicate whether a panel is open or closed - w3 */
.accordion:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) from https://www.toptal.com/designers/htmlarrows/math/plus-sign/ */
    font-size: 13px;
    color: #7c7b7b;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) from https://www.toptal.com/designers/htmlarrows/math/minus-sign/*/
}

/* Container for the map image on home page */
.container {
    position: absolute; /* Position the container absolutely */
    right: 40px; /* Align the container to the right */
    top: 40%; /* Position the container in the middle vertically */
    transform: translateY(-50%); /* Move the container up by half its height */
    width: 40%; /* Set the width of the container */
    text-align: right; /* Align the text to the right */
    border: 15px solid rgb(220, 220, 220); /* Add a 2px solid black border */
    border-radius: 15px; /* Round the edges of the border */
}

.container img {
    /*Image zoom styles*/
    /* Style for the container holding the image */
    margin: 0; /* Remove the margin */
    cursor: zoom-in;
    transition: transform 1s ease; /* Set transition of zoom in to 1 sec */
    width: 100%; /* Set the width of the image to 100% of the container */
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked~label>img {
    transform: scale(1.5);
    cursor: zoom-out;
}