<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <ul class="navbar">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a class="active" href="{{ url_for('booking') }}">Book Room</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="{{ url_for('information') }}">Information</a></li>
    </ul>
    <h1>Room Booking</h1>


    <!--Create links to change the page in the tab bar-->
    <div class="tab">
        <button class="tablinks" onclick="OpenDay(event, 'Monday', '2023-11-20')">Mon</button>
        <button class="tablinks" onclick="OpenDay(event, 'Tuesday', '2023-11-21')">Tue</button>
        <button class="tablinks" onclick="OpenDay(event, 'Wednesday', '2023-11-22')">Wed</button>
        <button class="tablinks" onclick="OpenDay(event, 'Thursday', '2023-11-23')">Thu</button>
        <button class="tablinks" onclick="OpenDay(event, 'Friday', '2023-11-24')">Fri</button>
    </div>

    <!--The content of the tabs-->
    <form action="/submit_booking" method="post">
        <!-- Hidden input field to capture the selected date -->
        <input type="hidden" id="selectedDateInput" name="selectedDate" value="">
        <div id="Monday" class="tabcontent">
            <table class="tableAvailability">
                <th>Time</th>
                <th>Availability</th>
                {% for timeslot in ['07:00 - 08:00', '08:00 - 09:00', '09:00 - 10:00', '10:00 - 11:00', '11:00 - 12:00',
                '12:00 - 13:00', '13:00 - 14:00', '14:00 - 15:00', '15:00 - 16:00'] %}
                <tr>
                    <td>{{ timeslot }}</td>
                    <td><input type="checkbox" id="checkbox-{{loop.index}}" name="timeslots" value="{{ timeslot }}"
                            data-time="{{ timeslot }}" onclick="displayCheckbox()"></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div id="Tuesday" class="tabcontent">
            <table class="tableAvailability">
                <th>Time</th>
                <th>Availability</th>
                {% for timeslot in ['07:00 - 08:00', '08:00 - 09:00', '09:00 - 10:00', '10:00 - 11:00', '11:00 - 12:00',
                '12:00 - 13:00', '13:00 - 14:00', '14:00 - 15:00', '15:00 - 16:00'] %}
                <tr>
                    <td>{{ timeslot }}</td>
                    <td><input type="checkbox" id="checkbox-{{loop.index}}" name="timeslots" value="{{ timeslot }}"
                            data-time="{{ timeslot }}" onclick="displayCheckbox()"></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div id="Wednesday" class="tabcontent">

            <table class="tableAvailability">
                <th>Time</th>
                <th>Availability</th>
                {% for timeslot in ['07:00 - 08:00', '08:00 - 09:00', '09:00 - 10:00', '10:00 - 11:00', '11:00 - 12:00',
                '12:00 - 13:00', '13:00 - 14:00', '14:00 - 15:00', '15:00 - 16:00'] %}
                <tr>
                    <td>{{ timeslot }}</td>
                    <td><input type="checkbox" id="checkbox-{{loop.index}}" name="timeslots" value="{{ timeslot }}"
                            data-time="{{ timeslot }}" onclick="displayCheckbox()"></td>
                    <!-- Checkbox to enable the button --></td>
                </tr>{% endfor %}
            </table>
        </div>

        <div id="Thursday" class="tabcontent">

            <table class="tableAvailability">
                <th>Time</th>
                <th>Availability</th>
                {% for timeslot in ['07:00 - 08:00', '08:00 - 09:00', '09:00 - 10:00', '10:00 - 11:00', '11:00 - 12:00',
                '12:00 - 13:00', '13:00 - 14:00', '14:00 - 15:00','15:00 - 16:00'] %}
                <tr>
                    <td>{{ timeslot }}</td>
                    <td><input type="checkbox" id="checkbox-{{loop.index}}" name="timeslots" value="{{ timeslot }}"
                            data-time="{{ timeslot }}" onclick="displayCheckbox()"></td>
                    <!-- Checkbox to enable the button --></td>
                </tr>{% endfor %}
            </table>
        </div>

        <div id="Friday" class="tabcontent">

            <table class="tableAvailability">
                <th>Time</th>
                <th>Availability</th>
                {% for timeslot in ['07:00 - 08:00', '08:00 - 09:00', '09:00 - 10:00', '10:00 - 11:00', '11:00 - 12:00',
                '12:00 - 13:00', '13:00 - 14:00','14:00 - 15:00', '15:00 - 16:00'] %}
                <tr>
                    <td>{{ timeslot }}</td>
                    <td><input type="checkbox" id="checkbox-{{loop.index}}" name="timeslots" value="{{ timeslot }}"
                            data-time="{{ timeslot }}" onclick="displayCheckbox()"></td>
                    <!-- Checkbox to enable the button --></td>
                </tr>{% endfor %}
            </table>
        </div>

        <button class="BookButton" type="button" id="bookButton" disabled onclick="displayAlert()">BOOK</button>
        <!-- Disable the button by default -->
    </form>

    <!--Standard clickable dropdown-->
    <div class="dropdown">
        <button onclick="toggleDropdown()" class="dropbtn" id="dropdownButton">Select Group Room</button>

        <!--option of dropdown-->
        <div id="dropdownID" class="dropdown-content">
            <a href="#" onclick="SelectRoom('Room 4.118')">Room 4.118</a>
            <a href="#" onclick="SelectRoom('Room 4.120')">Room 4.120</a>
            <a href="#" onclick="SelectRoom('Room 4.122')">Room 4.122</a>
            <a href="#" onclick="SelectRoom('Room 4.124')">Room 4.124</a>
            <a href="#" onclick="SelectRoom('Room 4.125')">Room 4.125</a>
            <!--Add options of choice in the list-->
        </div>

        <script>
            var checkedValues = []
            let selectedRoomNumber;
            let selectedDate;



            // javascript for closing the dropdown menu when a room is selected
            function SelectRoom(room) {
                console.log("SelectRoom function called with room: ", room); // Debugging line
                selectedRoomNumber = room
                var dropdownButton = document.getElementById("dropdownButton");
                if (dropdownButton) { // Check if the element exists
                    dropdownButton.innerText = room;
                } else {
                    console.log("Element with id 'SelectRoom' not found"); // Debugging line
                }
                if (typeof toggleDropdown === "function") { // Check if toggleDropdown is defined
                    toggleDropdown(); //Closes the dropdown menu after selecting a room
                } else {
                    console.log("toggleDropdown is not defined"); // Debugging line
                }
            }

            // javascript for when the user clicks on the dropdown button, toggle between hiding and showing the dropdown content
            function toggleDropdown() {
                document.getElementById("dropdownID").classList.toggle("show");
            }

            // javascript for closing the dropdown menu when clicking outside of it
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }


            // javascript for checkbox
            function displayCheckbox() {
                // Get all checkboxes
                var checkboxes = document.querySelectorAll('input[type="checkbox"]');

                // Check if any checkbox is checked
                var checkedCount = Array.from(checkboxes).filter(checkbox => checkbox.checked).length;

                // Get the button
                var button = document.getElementById('bookButton');

                // Enable or disable the button based on whether any checkbox is checked
                button.disabled = checkedCount === 0 || checkedCount > 4;

                // set the value of the hidden input field for each checkbox
                checkboxes.forEach((checkbox, index) => {
                    var timeslotInput = document.getElementById('timeslot-' + (index + 1));
                    if (checkbox.checked) {
                        timeslotInput.value = checkbox.getAttribute('data-timeslot');
                    } else {
                        timeslotInput.value = '';
                    }
                });
            }

            function displayAlert() { // This function is called when the button is clicked

                // Get all checkboxes
                var checkboxes = document.querySelectorAll('input[type="checkbox"]');

                // Get the values of the checked checkboxes
                var checkedValues = Array.from(checkboxes)
                    .filter(checkbox => checkbox.checked)
                    .map(checkbox => checkbox.value);

                // Check if any checkbox is checked
                var checkedCount = Array.from(checkboxes).filter(checkbox => checkbox.checked).length;
                // Get current total from localStorage and convert it to a number
                var totalChecked = Number(localStorage.getItem("checked")) || 0;
                // Add checkedCount to the total
                totalChecked += checkedCount;

                // Store the new total in localStorage
                localStorage.setItem("checked", totalChecked);
                // Log the new total to the console
                console.log(localStorage.getItem("checked"))

                var roomNumber = document.getElementById('dropdownButton'); // Replace with actual room number
                // Send the checked values to the server
                submitBooking(checkedValues, selectedRoomNumber, selectedDate);


            }
            // javascript for tabbar
            function OpenDay(evt, day, selectedDate) {
                var i, tabcontent, tablinks;
                // get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(day).style.display = "block";
                evt.currentTarget.className += " active";

                // Call selectDate function with the selected date
                selectDate(selectedDate);
            }
            
            function selectDate(date) {
                selectedDate = date;
                submitDate(date);
            }




            function submitBooking(checkedValues, selectedRoomNumber, selectedDate) {
                fetch('/submit_booking', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        timeslots: checkedValues, // Include the array of checked values
                        Room: selectedRoomNumber, // Replace with actual room number
                        date: selectedDate
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success:', data);
                        alert("Room booked!");
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            }


        </script>
</body>

</html>