<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <ul class="navbar">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a class="active" href="{{ url_for('booking') }}">Book Room</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="{{ url_for('information') }}">Information</a></li>
    </ul>
    <h1>Room Booking</h1>

    <!--Create links to change the page in the tab bar-->
    <div class="tab">
        <button class="tablinks" onclick="OpenDay(event, 'Monday', '2023-11-20')">Mon</button>
        <button class="tablinks" onclick="OpenDay(event, 'Tuesday', '2023-11-21')">Tue</button>
        <button class="tablinks" onclick="OpenDay(event, 'Wednesday', '2023-11-22')">Wed</button>
        <button class="tablinks" onclick="OpenDay(event, 'Thursday', '2023-11-23')">Thu</button>
        <button class="tablinks" onclick="OpenDay(event, 'Friday', '2023-11-24')">Fri</button>
    </div>

    <!-- Cancel Booking Form -->
    <form id="cancelBookingForm" onsubmit="cancelBooking(event)" action="{{ url_for('cancel_booking_route') }}"
        method="POST">
        <label for="cancelBookingID">Booking ID to Cancel:</label>
        <input type="text" id="cancelBookingID" name="booking_id" required>

        <button type="submit">Cancel Booking</button>
    </form>

    <!--The content of the tabs-->
    <form action="/submit_booking" method="post">

        <input type="hidden" id="selectedDateInput" name="selectedDate" value=""> <!-- Hidden input field to store the selected date, that can't be used by the user
            but is used to store the selected date that e.g monday has -->

        <div id="Monday" class="tabcontent"> <!-- The content of the tab -->
            <table class="tableAvailability">
                <th>Time</th>
                <th>Availability</th>
                {% for timeslot in ['07:00 - 08:00', '08:00 - 09:00', '09:00 - 10:00', '10:00 - 11:00', '11:00 - 12:00',
                '12:00 - 13:00', '13:00 - 14:00', '14:00 - 15:00', '15:00 - 16:00'] %}
                <!-- Loop through the timeslots and create a checkbox for each timeslot -->
                <tr>
                    <td>{{ timeslot }}</td>
                    <td><input type="checkbox" id="checkbox-{{loop.index}}" name="timeslots" value="{{ timeslot }}"
                            data-time="{{ timeslot }}" onclick="displayCheckbox()"></td>
                    <!-- Checkbox to enable the button -->
                </tr>
                {% endfor %}
            </table>
        </div>

        <div id="Tuesday" class="tabcontent">
            <table class="tableAvailability">
                <th>Time</th>
                <th>Availability</th>
                {% for timeslot in ['07:00 - 08:00', '08:00 - 09:00', '09:00 - 10:00', '10:00 - 11:00', '11:00 - 12:00',
                '12:00 - 13:00', '13:00 - 14:00', '14:00 - 15:00', '15:00 - 16:00'] %}
                <!-- Loop through the timeslots and create a checkbox for each timeslot -->
                <tr>
                    <td>{{ timeslot }}</td>
                    <!-- Display the timeslot. And create a checkbox with the value of the timeslot  -->
                    <td><input type="checkbox" id="checkbox-{{loop.index}}" name="timeslots" value="{{ timeslot }}"
                            data-time="{{ timeslot }}" onclick="displayCheckbox()"></td>
                    <!-- Checkbox to enable the button -->
                </tr>
                {% endfor %}
            </table>
        </div>

        <div id="Wednesday" class="tabcontent">

            <table class="tableAvailability">
                <th>Time</th>
                <th>Availability</th>
                {% for timeslot in ['07:00 - 08:00', '08:00 - 09:00', '09:00 - 10:00', '10:00 - 11:00', '11:00 - 12:00',
                '12:00 - 13:00', '13:00 - 14:00', '14:00 - 15:00', '15:00 - 16:00'] %}
                <tr>
                    <td>{{ timeslot }}</td>
                    <td><input type="checkbox" id="checkbox-{{loop.index}}" name="timeslots" value="{{ timeslot }}"
                            data-time="{{ timeslot }}" onclick="displayCheckbox()"></td>
                    <!-- Checkbox to enable the button --></td>
                </tr>{% endfor %}
            </table>
        </div>

        <div id="Thursday" class="tabcontent">

            <table class="tableAvailability">
                <th>Time</th>
                <th>Availability</th>
                {% for timeslot in ['07:00 - 08:00', '08:00 - 09:00', '09:00 - 10:00', '10:00 - 11:00', '11:00 - 12:00',
                '12:00 - 13:00', '13:00 - 14:00', '14:00 - 15:00','15:00 - 16:00'] %}
                <tr>
                    <td>{{ timeslot }}</td>
                    <td><input type="checkbox" id="checkbox-{{loop.index}}" name="timeslots" value="{{ timeslot }}"
                            data-time="{{ timeslot }}" onclick="displayCheckbox()"></td>
                    <!-- Checkbox to enable the button --></td>
                </tr>{% endfor %}
            </table>
        </div>

        <div id="Friday" class="tabcontent">

            <table class="tableAvailability">
                <th>Time</th>
                <th>Availability</th>
                {% for timeslot in ['07:00 - 08:00', '08:00 - 09:00', '09:00 - 10:00', '10:00 - 11:00', '11:00 - 12:00',
                '12:00 - 13:00', '13:00 - 14:00','14:00 - 15:00', '15:00 - 16:00'] %}
                <tr>
                    <td>{{ timeslot }}</td>
                    <td><input type="checkbox" id="checkbox-{{loop.index}}" name="timeslots" value="{{ timeslot }}"
                            data-time="{{ timeslot }}" onclick="displayCheckbox()"></td>
                    <!-- Checkbox to enable the button --></td>
                </tr>{% endfor %}
            </table>
        </div>

        <button class="BookButton" type="button" id="bookButton" disabled onclick="displayAlert()">BOOK</button>
        <!-- Disable the button by default -->
    </form>

    <!--Standard clickable dropdown-->
    <div class="dropdown">
        <button onclick="toggleDropdown()" class="dropbtn" id="dropdownButton">Select Group Room</button>

        <!--option of dropdown-->
        <div id="dropdownID" class="dropdown-content">
            <a href="#" onclick="SelectRoom('Room 4.118')">Room 4.118</a>
            <a href="#" onclick="SelectRoom('Room 4.120')">Room 4.120</a>
            <a href="#" onclick="SelectRoom('Room 4.122')">Room 4.122</a>
            <a href="#" onclick="SelectRoom('Room 4.124')">Room 4.124</a>
            <a href="#" onclick="SelectRoom('Room 4.125')">Room 4.125</a>
            <!--Add options of choice in the list-->
        </div>


        <script>
            var checkedValues = [] // Array to store the checked values
            let selectedRoomNumber; // Variable to store the selected room number
            let selectedDate; // Variable to store the selected date
            var bookedTimeslots = []; // Array to store the booked timeslots

            function isTimeslotBooked(timeslot) { //The function isTimeslotBooked(timeslot) checks if a given timeslot is already booked.
                return bookedTimeslots.includes(timeslot);
            }

            // javascript for closing the dropdown menu when a room is selected
            function SelectRoom(room) {
                console.log("SelectRoom function called with room: ", room); // Debugging line
                selectedRoomNumber = room // Set the selected room number to the room that was clicked
                var dropdownButton = document.getElementById("dropdownButton");
                if (dropdownButton) { // Check if the element exists
                    dropdownButton.innerText = room;
                } else {
                    console.log("Element with id 'SelectRoom' not found"); // Debugging line
                }
                if (typeof toggleDropdown === "function") { // Check if toggleDropdown is defined
                    toggleDropdown(); //Closes the dropdown menu after selecting a room
                } else {
                    console.log("toggleDropdown is not defined"); // Debugging line
                }
            }

            // Function to cancel a booking
            function cancelBooking(event) {
                event.preventDefault(); // prevent the default form submission
                const formData = {
                    booking_id: document.getElementById('cancelBookingID').value
                };

                fetch('{{ url_for('cancel_booking_route') }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData)
                })
                    .then(response => response.json())
                    .then(data => console.log(data))
                    .catch(error => console.error('Error:', error));
            }

            // javascript for when the user clicks on the dropdown button, toggle between hiding and showing the dropdown content
            function toggleDropdown() {
                document.getElementById("dropdownID").classList.toggle("show");
            }

            // javascript for closing the dropdown menu when clicking outside of it
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }


            // javascript for checkbox
            function displayCheckbox() {
                // Get all checkboxes on the page
                var checkboxes = document.querySelectorAll('input[type="checkbox"]');

                // Check if any checkbox is checked and store the number of checked checkboxes
                var checkedCount = Array.from(checkboxes).filter(checkbox => checkbox.checked).length;

                // Get the button element
                var button = document.getElementById('bookButton');

                // Enable or disable the button based on how many checkboxes are checked
                button.disabled = checkedCount === 0 || checkedCount > 4;

                // set the value of the hidden input field for each checkbox
                checkboxes.forEach((checkbox, index) => {
                    var timeslotInput = document.getElementById('timeslot-' + (index + 1));
                    if (checkbox.checked) {
                        timeslotInput.value = checkbox.getAttribute('data-timeslot');
                    } else {
                        timeslotInput.value = '';
                    }
                });
            }

            function displayAlert() { // This function is called when the big blue bookbutton is clicked

                // Get all checkboxes
                var checkboxes = document.querySelectorAll('input[type="checkbox"]');

                // Det her er måske ikke nødvendigt
                // Get the values of the checked checkboxes
                var checkedValues = Array.from(checkboxes)
                    .filter(checkbox => checkbox.checked)
                    .map(checkbox => checkbox.value);

                // Check if any checkbox is checked
                var checkedCount = Array.from(checkboxes).filter(checkbox => checkbox.checked).length;
                // Get current total from localStorage and convert it to a number
                var totalChecked = Number(localStorage.getItem("checked")) || 0;
                // Add checkedCount to the total
                totalChecked += checkedCount;

                // Store the new total in localStorage
                localStorage.setItem("checked", totalChecked);
                // Log the new total to the console
                console.log(localStorage.getItem("checked"))
                // Her stopper det unødvendige

                var roomNumber = document.getElementById('dropdownButton'); // Get the room number from the dropdown menu and store it in a variable called roomNumber
                // Send the checked values to the server
                submitBooking(checkedValues, selectedRoomNumber, selectedDate); // When the button is clicked, call the submitBooking function with the checked values, 
                //the room number and the selected date, that runs the code in the submitBooking

            }
            // javascript for tabbar
            function OpenDay(evt, day, selectedDate) {
                var i, tabcontent, tablinks;
                // get all elements with class="tabcontent" and hide them

                resetCheckboxes(); // Reset the checkboxes when a new tab is opened
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(day).style.display = "block";
                evt.currentTarget.className += " active";

                // Call selectDate function with the selected date
                selectDate(selectedDate);
            }

            function selectDate(date) {
                // Sets the global variable selectedDate to the value of date passed into the function.
                selectedDate = date;
                //Retrieves the hidden input field with the id selectedDateInput.
                var selectedDateInput = document.getElementById('selectedDateInput');
                //Sets the value of the hidden input field to the date passed into the function.
                selectedDateInput.value = date;
            }
            // Reset the checkboxes when a new tab is opened
            function resetCheckboxes() {
                var checkboxes = document.querySelectorAll('input[type="checkbox"]');
                checkboxes.forEach((checkbox) => {
                    checkbox.checked = false;
                });
            }
            // Create a bookingID
            function createBookingID() {
                var bookingID = Math.floor(Math.random() * 1000) + 1; // Create a random number between 0 and 1000

            // Get the bookButton
            var bookButton = document.getElementById('bookButton');

            // Add an event listener to the bookButton
            bookButton.addEventListener('click', function () {
                var bookingID = createBookingID();
            submitBooking(checkedValues, selectedRoomNumber, selectedDate, bookingID);
            });
        }
            function submitBooking(checkedValues, selectedRoomNumber, selectedDate, bookingID) {
                fetch('/submit_booking', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        timeslots: checkedValues, // Include the array of checked values
                        Room: selectedRoomNumber, // Include the room number
                        date: selectedDate, // Include the date
                        BookID: bookingID // Include the bookingID
                    })
                })
                    .then(response => response.json()) // Parse the response as JSON
                    .then(data => { // Log the data to the console
                        if (data.error) {
                            alert(data.error);
                        } else {
                            //If there's no error message, the booking was successful
                            console.log('Success:', data);
                            alert("Room booked!");
                            }
                    })
                    .catch((error) => {  // Catch any errors and log them to the console
                        console.error('Error:', error); // Log the error to the console
                    });
            }


    </script>
</body>

</html>