<!DOCTYPE html>
<html lang="en">

<head>

    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!--link to cssSheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style_Dropdown.css') }}">
</head>

<body>
    <ul class="navbar">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a class="active" href="{{ url_for('booking') }}">Book Room</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
        <li><a href="{{ url_for('information') }}">Information</a></li>
    </ul>
    <h1>Room Booking</h1>

    <!--Create links to change the page in the tab bar-->
    <div class="tab">
        <button class="tablinks" onclick="OpenDay(event, 'Monday', '2023-11-20')">Mon</button>
        <button class="tablinks" onclick="OpenDay(event, 'Tuesday', '2023-11-21')">Tue</button>
        <button class="tablinks" onclick="OpenDay(event, 'Wednesday', '2023-11-22')">Wed</button>
        <button class="tablinks" onclick="OpenDay(event, 'Thursday', '2023-11-23')">Thu</button>
        <button class="tablinks" onclick="OpenDay(event, 'Friday', '2023-11-24')">Fri</button>
    </div>

    <!-- Cancel Booking Form -->
    <form id="cancelBookingForm" onsubmit="cancelBooking(event)" action="{{ url_for('cancel_booking_route') }}"
        method="POST">
        <label for="cancelBookingID">Booking ID to Cancel:</label>
        <input type="number" id="cancelBookingID" name="booking_id" required>

        <button type="text">Cancel Booking</button>
    </form>

    <!--The content of the tabs-->
    <form action="/submit_booking" method="post">

        <input type="hidden" id="selectedDateInput" name="selectedDate" value=""> <!-- Hidden input field to store the selected date, that can't be used by the user
            but is used to store the selected date that e.g monday has -->

        <div id="Monday" class="tabcontent"> <!-- The content of the tab -->
            <table class="tableAvailability">
                <th>Time</th>
                <th>Availability</th>
                {% for timeslot in ['07:00 - 08:00', '08:00 - 09:00', '09:00 - 10:00', '10:00 - 11:00', '11:00 - 12:00',
                '12:00 - 13:00', '13:00 - 14:00', '14:00 - 15:00', '15:00 - 16:00'] %}
                <!-- Loop through the timeslots and create a checkbox for each timeslot -->
                <tr>
                    <td>{{ timeslot }}</td>
                    <td><input type="checkbox" id="checkbox-{{loop.index}}" name="timeslots" value="{{ timeslot }}"
                            data-time="{{ timeslot }}" onclick="displayCheckbox()"></td>
                    <!-- Checkbox to enable the button -->
                </tr>
                {% endfor %}
            </table>
        </div>

        <div id="Tuesday" class="tabcontent">
            <table class="tableAvailability">
                <th>Time</th>
                <th>Availability</th>
                {% for timeslot in ['07:00 - 08:00', '08:00 - 09:00', '09:00 - 10:00', '10:00 - 11:00', '11:00 - 12:00',
                '12:00 - 13:00', '13:00 - 14:00', '14:00 - 15:00', '15:00 - 16:00'] %}
                <!-- Loop through the timeslots and create a checkbox for each timeslot -->
                <tr>
                    <td>{{ timeslot }}</td>
                    <!-- Display the timeslot. And create a checkbox with the value of the timeslot  -->
                    <td><input type="checkbox" id="checkbox-{{loop.index}}" name="timeslots" value="{{ timeslot }}"
                            data-time="{{ timeslot }}" onclick="displayCheckbox()"></td>
                    <!-- Checkbox to enable the button -->
                </tr>
                {% endfor %}
            </table>
        </div>

        <div id="Wednesday" class="tabcontent">

            <table class="tableAvailability">
                <th>Time</th>
                <th>Availability</th>
                {% for timeslot in ['07:00 - 08:00', '08:00 - 09:00', '09:00 - 10:00', '10:00 - 11:00', '11:00 - 12:00',
                '12:00 - 13:00', '13:00 - 14:00', '14:00 - 15:00', '15:00 - 16:00'] %}
                <tr>
                    <td>{{ timeslot }}</td>
                    <td><input type="checkbox" id="checkbox-{{loop.index}}" name="timeslots" value="{{ timeslot }}"
                            data-time="{{ timeslot }}" onclick="displayCheckbox()"></td>
                    <!-- Checkbox to enable the button --></td>
                </tr>{% endfor %}
            </table>
        </div>

        <div id="Thursday" class="tabcontent">

            <table class="tableAvailability">
                <th>Time</th>
                <th>Availability</th>
                {% for timeslot in ['07:00 - 08:00', '08:00 - 09:00', '09:00 - 10:00', '10:00 - 11:00', '11:00 - 12:00',
                '12:00 - 13:00', '13:00 - 14:00', '14:00 - 15:00','15:00 - 16:00'] %}
                <tr>
                    <td>{{ timeslot }}</td>
                    <td><input type="checkbox" id="checkbox-{{loop.index}}" name="timeslots" value="{{ timeslot }}"
                            data-time="{{ timeslot }}" onclick="displayCheckbox()"></td>
                    <!-- Checkbox to enable the button --></td>
                </tr>{% endfor %}
            </table>
        </div>

        <div id="Friday" class="tabcontent">

            <table class="tableAvailability">
                <th>Time</th>
                <th>Availability</th>
                {% for timeslot in ['07:00 - 08:00', '08:00 - 09:00', '09:00 - 10:00', '10:00 - 11:00', '11:00 - 12:00',
                '12:00 - 13:00', '13:00 - 14:00','14:00 - 15:00', '15:00 - 16:00'] %}
                <tr>
                    <td>{{ timeslot }}</td>
                    <td><input type="checkbox" id="checkbox-{{loop.index}}" name="timeslots" value="{{ timeslot }}"
                            data-time="{{ timeslot }}" onclick="displayCheckbox()"></td>
                    <!-- Checkbox to enable the button --></td>
                </tr>{% endfor %}
            </table>
        </div>
        <!-- Disable the button by default -->
        <button class="BookButton" type="button" id="bookButton" disabled onclick="displayAlert()">BOOK</button>
        

    </form>
   <!-- Add the following buttons for check-in and check-out -->
   <button class="checkInOutButton" onclick= "alert('You are now checked-in')">Check-In</button>
   <button class="checkInOutButton" onclick= "alert('You are now checked-out')">Check-Out</button>
    <!--Standard clickable dropdown-->
    <div class="dropdown">
        <button onclick="toggleDropdown()" class="dropbtn" id="dropdownButton">Select Group Room</button>

        <!--option of dropdown-->
        <div id="dropdownID" class="dropdown-content">
            <a href="#" onclick="SelectRoom('Room 4.118')">Room 4.118</a>
            <a href="#" onclick="SelectRoom('Room 4.120')">Room 4.120</a>
            <a href="#" onclick="SelectRoom('Room 4.122')">Room 4.122</a>
            <a href="#" onclick="SelectRoom('Room 4.124')">Room 4.124</a>
            <a href="#" onclick="SelectRoom('Room 4.125')">Room 4.125</a>
            <!--Add options of choice in the list-->
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/BookingJavascript.js') }}"></script> 
</body>

</html>