<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <p> 
        For any questions about group rooms or the <br>
        use hereof, contact the library. <br>
        Opening hours are monday - friday 9 - 16. <br><br>
        If you need help with the website, contact <br>
        technical support. <br><br>

        <b class="left-info"> Library </b> <span class="contact-info left-info"> <b> E-mail </b> aub@aub.aau.dk <br><b> Phone </b> 99 40 94 00 </span>
        <b class="right-info"> Technical support </b> <span class="contact-info right-info"> <b> E-mail </b> support@its.aau.dk <br><b> Phone </b> 99 40 20 20 </span>
    </p>
</body>

</html>