<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <ul class="navbar">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('booking') }}">Book Room</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
        <li><a href="{{ url_for('information') }}">Information</a></li>
    </ul>
    <h1>Contact</h1>
    
   <div class="contactTxt">
    <p> 
        For any questions about group rooms or the<br>
        use hereof, contact the library. <br>
        Opening hours are monday - friday 9 - 16. <br><br>
        If you need help with the website, contact <br>
        technical support. <br><br></p>
    
   </div>
   
   <!-- <p> 
        <div class="contact_text">
        For any questions about group rooms or the <br>
        use hereof, contact the library. <br>
        Opening hours are monday - friday 9 - 16. <br><br>
        If you need help with the website, contact <br>
        technical support. <br><br>
        </div>
    
    -->
        <!--<span class="right_info">right aligned</span><span class="left_info"><br>left aligned</span> Test for at se hvad virker-->

       <!-- <div class="left_info">
            <b><div class="techlib">Library:</div></b> <br>
            E-mail: aub@aub.aau.dk <br>
            Phone Number: 99 40 94 00
        </div> 

        <div class="right_info">
            <b><div class="techlib">Technical support:</div></b> <br>
            E-mail: support@its.aau.dk <br>
            Phone Number: 99 40 20 20
        </div>
    


    </p>
-->
</body>

</html>