<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/Style_Dropdown.css">
        <title>Dropdown Select Room Menu</title>
<div class="dropdown">
</head>
<body>
    <div class select-btn>
        <span class="sBtn-text">Select Group Room</span>
        <div class="caret"></div>
    </div>
    <ul class="menu">
        <li>Room 01</li>
        <li>Room 02</li>
        <li>Room 03</li>
        <li>Room 04</li>
        <li>Room 05</li>
    </ul>
</div>

</body>
</html>