<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <ul class="navbar">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('booking') }}">Book Room</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
        <li><a href="{{ url_for('information') }}">Information</a></li>
    </ul>
    <h1>Home</h1>
    <button class="accordion">Section 1</button>
    <div class="panel">
        <p>Lorem ipsum...</p>
    </div>

    <button class="accordion">Section 2</button>
    <div class="panel">
        <p>Lorem ipsum...</p>
    </div>

    <button class="accordion">Section 3</button>
    <div class="panel">
        <p>Lorem ipsum...</p>
    </div>


        <div class="container">
            <input type="checkbox" name="" id="zoom_img" />

            <label for="zoom_img">
                <img src="{{ url_for('static', filename='images/kroghstræde3map.png') }}" alt="Map">
            </label>
        </div>
    

</body>

</html>