<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>
  <ul class="navbar">
      <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('booking') }}">Book Room</a></li>
      <li><a href="{{ url_for('contact') }}">Contact</a></li>
      <li><a href="{{ url_for('information') }}">Information</a></li>
  </ul>
  <h1>Home</h1>
  
  <!-- CAN MAYBE BE USED FOR CONTENT ON HOME PAGE
  <button class="accordion" id="4118">Room 4.118</button>
  <div class="panel">
      <p>
          <table style="width:65%">
          <tr>
            <th>Name</th>
            <th>Telephone</th>
            <th>Telephone</th>
          </tr>
          <tr>
            <td>Bill Gates</td>
            <td>555 77 854</td>
            <td>555 77 855</td>
          </tr>
        </table>
        Current Status: Available--> <!-- TODO: Her skal vi implementere en availability status funktion -->
        <!-- <br> Next Booking: Tue 10:00 --><!-- TODO: Her skal vi implementere en 'next booking' funktion-->
        <!--<br> 
      </p>
  </div>
  -->

  {% for room in room_info %}
  <button class="accordion">
    {{ room.room }}
    <span id="StatusIndicator{{ room }}" class="accordion-status-indicator"
    style="background-color: {{'green' if room.status else 'red'}}"></span>
    <p id="Textindicator"> Status: {{ "Available" if room.status else "Reserved" }} </p>
  </button>
    <div class="panel">
      <p><br>Status: {{ "Available" if room.status else "Reserved" }}
      <br> Next Booking: </p>
    </div>
{% endfor %}
  
  <div class="container">
    <input type="checkbox" name="" id="zoom_img" />
    <label for="zoom_img">
      <img src="{{ url_for('static', filename='images/K3map.png') }}" alt="Map">
    </label>
  </div>
   
  <script> 
  // Dette er JS for at accordion fungerer
    document.addEventListener('DOMContentLoaded', function() {
        var accordions = document.querySelectorAll('.accordion');

        // Add click event listeners to each accordion
        accordions.forEach(function(accordion) {
            accordion.addEventListener('click', function() {
                // Check if the clicked accordion is already active
                var isActive = this.classList.contains('active');

                // Close all accordions
                accordions.forEach(function(otherAccordion) {
                    otherAccordion.classList.remove('active');
                    otherAccordion.nextElementSibling.style.display = 'none';
                });

                // Toggle the active class and show/hide the panel
                this.classList.toggle('active', !isActive);
                var panel = this.nextElementSibling;
                panel.style.display = isActive ? 'none' : 'block';
            });
        });
    });
    
</script> 
<script src = "{{ url_for('static', filename='js/BookingJavascript.js') }}"></script>
</body>

</html>