<!DOCTYPE html>
<html lang="en">

<head>
    <title>Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <ul class="navbar">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('booking') }}">Book Room</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
        <li><a href="{{ url_for('information') }}">Information</a></li>
    </ul>
    
    
<!--Information text container-->
    <div class="Infotxt">
        <p>Information</p>
        <img src="{{ url_for('static', filename='images/kroghstræde3map.png') }}" alt="Map">
        <p>Information about the room booking system. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula ac lectus et gravida. 
        Proin interdum ultrices venenatis. Phasellus pellentesque id nibh vel tempor. Donec velit nunc, semper eu elit et, accumsan pretium neque. 
        Curabitur sit amet dignissim elit, ac sollicitudin nulla. Fusce enim nisl, lacinia quis ornare varius, porttitor non est. Maecenas sed sem sem. 
        Sed accumsan, magna a elementum facilisis, ipsum tortor semper erat, in eleifend magna tortor eget felis. Curabitur convallis dolor id egestas tempor. 
        Pellentesque et dictum mi. Aliquam ac vehicula nibh</p>
        <p>something more</p>
    </div>

</body>

</html>