<!DOCTYPE html>
<html lang="en">

<head>
    <title>Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <ul class="navbar">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('booking') }}">Book Room</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
        <li><a class="active" href="{{ url_for('information') }}">Information</a></li>
    </ul>
    
    
<!--Information text container-->
    <div class="Infotxt">
        <p> <!--Title of information-->
            Information
        </p>
        <!-- test of image 
        <img src="{{ url_for('static', filename='images/kroghstræde3map.png') }}" alt="Map">
        -->
        <p><!--Information text-->
        Information about the room booking system. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula ac lectus et gravida. 
        Proin interdum ultrices venenatis. Phasellus pellentesque id nibh vel tempor. Donec velit nunc, semper eu elit et, accumsan pretium neque. 
        Curabitur sit amet dignissim elit, ac sollicitudin nulla. Fusce enim nisl, lacinia quis ornare varius, porttitor non est. Maecenas sed sem sem. 
        Sed accumsan, magna a elementum facilisis, ipsum tortor semper erat, in eleifend magna tortor eget felis. Curabitur convallis dolor id egestas tempor. 
        Pellentesque et dictum mi. Aliquam ac vehicula nibh
        </p>
        <p><!--last child-->
            <p>
                RULES AND GUIDELINES FOR BOOKING A ROOM
            </p>
            As the person making the booking you will be responsible for the room and for ensuring that all users of the room during this booking comply with Library regulations.
            You must be present in the room during the booking period.
            You must be a student or staff member at the University of Aalborg
            You can book a room for a maximum of 4 hours per day.
            You can book a room for the coming week after 12:00 on the previous Saturday.
        </p>
    </div>

</body>

</html>